body{
    font-family: 'Playfair Display', serif;
    margin: 0;
    text-align: justify;
}
.orange-color{
    color:orange;

}
h1{
    font-size: 50px;
    padding-left: 5px;
    margin-left: 15px;
}
#wev-dev{
    border-width: 25%;
    border-left: 4px solid;
    border-color: tomato;
    border-image-slice: 1;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
    margin-top:60px;
}
.half-width{
    width: 50%;
    padding-left: 4%;
    padding-right: 4%;
}
.paragraph{
    text-align: justify;
    font-size: 20px;
}
.link-button{
    color: white;
    text-decoration: none;
    background-color: tomato;
    padding: 5px 15px;
    border-radius: 5px;
}

.half-width img{
    width: 70%;
}
.roadmap{
    text-align: center;
}
.color{
    color: orange;
    font-size: 70px;
}
.mission img{
    width: 120px;
}
.mission{
    height: 300px;
    width: 30%;
    margin: 20px;
    padding: 15px;
    border-radius: 15px;
    background-color: lightgoldenrodyellow;
}
.vision img{
    width: 120px;
}
.vision{
    height: 300px;
    width: 30%;
    margin: 20px;
    padding: 15px;
    border-radius: 15px;
    background-color: lightskyblue;
}
.goal img{
    width: 120px;
}
.goal{
    height: 300px;
    width: 30%;
    margin: 20px;
    padding: 15px;
    border-radius: 15px;
    background-color: lightpink;
}
.header{
    text-align: center;
    font-size: 60px;
}
.header2{
    text-align: left;
    font-size: 40px;
    color: tomato;
}
.img1{
    height: 80%;
    width: 90%;
}
.footer{
    color: white;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 20px;
    background-color: black;
}